{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Headers and Formalities -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>TxMoo.se Shortener</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" type="text/css"href="{% static 'material/fonts/material-design-icons/material-icons.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'material/css/materialize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'material/css/materialize.forms.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'material/css/jquery.datetimepicker.css' %}"/>
        <script type="text/javascript" src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    </head>
    <body>
        <!-- Nav Bar and Page Title -->
        <!-- Dropdown Structure     -->
        <ul id="navdrop" class="dropdown-content">
          <li><a href="/">Home</a></li>
          <li><a href="/custom/">Custom Slug</a></li>
          <li><a href="/recent/">Recent Slugs</a></li>
        </ul>    
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" id="logo-container" class="brand-logo">TxMoo.se</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="navdrop" data-beloworigin="true" data-constrainwidth="false" ><i class="material-icons">menu</i></a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                    <li><a href="/custom/"><i class="material-icons">input</i>Custom</a></li>
                    <li><a href="/recent/"><i class="material-icons">list</i>Recent</a></li>
                </ul>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <!-- JS  -->
        <script type="text/javascript" src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'material/js/jquery.formset.js' %}"></script>
        <script type="text/javascript" src="{% static 'material/js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'material/js/materialize.forms.js' %}"></script>
    </body>
</html>
