{% extends 'web_front/base.html' %}
{% block content %}
        {% load material_form %}

        <br><br>
        <h1 class="header center red-text">TxMoo.se URL Shortener</h1>
        <br><br>

        <div class="container" class="valign-wrapper" class="card-panel hoverable">
            <form action="/" method="post" class="valign">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <input type="submit" class="btn btn-primary btn-lg" value="Shorten it!" />
            </form>
        </div>
{% endblock %}
