{% extends 'web_front/base.html' %}
{% block content %}
    <div class="container" class="valign-wrapper">
        <h3 class="header center red-text">{{ slug }}</h3>
        
          <div class="card-panel" class="z-depth-5">
            <ul>
              <li>slug => {{ slug.slug }}</li>
              <li>target url => {{ slug.target_url }}</li>
              <li>create date => {{ slug.create_date }}</li>
              <li>hit count => {{ slug.hit_count }}</li>
            </ul>
          </div>
    </div>
{% endblock %}
