{% extends 'web_front/base.html' %}
{% block content %}
  <div class="container" class="valign-wrapper">
    <h1 class="header center red-text">{{slug_list|length}} most recent slugs created</h1>
      <ul class="collapsible popout" data-collapsible="accordion">
        {% for slug in slug_list %}
          <li>
            <div class="collapsible-header">{{ slug.slug }}</div>
            <div class="collapsible-body" style="display: block;">
              <p><a href="{% url 'web_front:detail' slug.slug %}">{{ slug.site_title }}</a></p>
            </div>
          </li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}
